body {
  background-color: rgba(0, 0, 0, 0.850);
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
          /*The page*/
.game {
  display: grid;
  justify-content: center;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
          /*The board including the status*/
.game-board {
  display: grid;
  margin-top: 10%;
}

.game-info {
  margin-left: 20px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
          /*The play board consisting of the three rows*/
.the-board {
  box-shadow: 0vw 0.55vw 1vw 0.15vw rgb(0, 0, 0);
  padding: 2vw;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
          /*each separate row*/
.board-row {
  margin-top: -0.1vw;
  background-color: aquamarine;
  padding: 0.2vw;
  border-radius: 0.3vw;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
          /*status with tooltip*/
.status {
  background-color: aquamarine;
  color: rgba(36, 35, 35, 0.9);
  box-shadow: 0vw 0.55vw 1vw 0.15vw rgb(0, 0, 0);
  padding: 1.5vw;
  text-align: center;
  font-size: 2vw;
  font-family: chilanka, uroob, purisa, 'monotype corsiva' ;
  font-weight: 600;
}

.status .tooltiptext{
  visibility: hidden;
  background-color: rgba(46, 42, 42, 0.87);
  box-shadow: 0vw 0.55vw 1vw 0.15vw rgb(0, 0, 0);
  color: antiquewhite;
  text-align: center;
  border-radius: 0.5vw;
  padding: 0.3vw;
  font-size: 1vw;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-top: -2.8%;
  left: 55%;

  transition: all 0.2s ease-in-out;
}
          /*dark light mode*/
#darkLightMode {
  border-radius: 0.5vw;
  font-size: 1.5vw;
  outline: none;
  background-image: linear-gradient(to right, white, black);
}
.status:hover .tooltiptext {
  visibility: visible;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
          /*each separate square*/
.square {
  font-family: chilanka, uroob, purisa, 'monotype corsiva' ;
  text-transform: lowercase;
  border-radius: 0.5vw;
  background-color: burlywood;
  box-shadow: 0vw 0.3vw 0.5vw 0.01vw rgba(0, 0, 0, 0.171);
  font-size: 2.3vw;
  font-weight: bold;
  height: 6vw;
  margin: 0.2vw;
  width: 6vw; 
  padding: 1vw;
  transition: all 0.2s ease-in-out; 
}

.square:hover {
  outline: none;
  box-shadow: 0vw 0.45vw 0.5vw 0.1vw rgba(0, 0, 0, 0.671);
  transform: scale(1.07);
}

.square:focus {
  outline: none;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
          /*play again button*/
.playAgain {
  color: rgba(36, 35, 35, 0.9);
  text-align: center;
  font-size: 2vw;
  font-family: chilanka, uroob, purisa, 'monotype corsiva' ;
  font-weight: 520;
  background-color: aquamarine;
  border: 0vw solid;
  border-radius: 1vw;
  box-shadow: 0vw 0.55vw 1vw 0.15vw rgb(0, 0, 0);
  outline: none;
  padding: 0.8vw;
  margin: auto;
  margin-top: 1vw;
  display: none;
  transition: all 0.2s ease-in-out; 
}

.playAgain:hover {
  outline: none;
  box-shadow: 0vw 0.55vw 1vw 0.15vw rgb(0, 0, 0);
  transform: scale(1.07);
}

.playAgain:focus {
  outline: none;
}

.playAgain:active {
  outline: none;
  color: whitesmoke;
}